# Python Virtual Environments
venv/
.venv/
env/
ENV/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
